extends layout

block content
  form(action="/create" method="POST")
    label(for="img") Image of School: 
    input#img(type="file" accept="image/*" name="img")
    br
    label(for="name") Name of School: 
    input#name(type="text" name="name")
    br
    label(for="about") About: 
    textarea#about(name="about")
    br
    label(for="location") Location: 
    textarea#location(name="location")
    br
    label(for="admissions") Admissions
    textarea#admissions(name="admissions")
    br
    input(type="submit")