extends layout

block content
  form(action="/create") 
    input(type="submit" value="Create a New Listing")
  table
    tr
      td Name
      td About
      td Location
    each school in schools
      tr
        td: a(href=`/school/${school.id}`)= school.name
        td= school.about
        td= school.location