//- html template for viewing one specific school
extends layouts/layout

block content
  a(href="..") << Back to Listings
  h1.text-center= school.name
  .box
    .info-box.container
      .info-text
        p
          if school.about
            b About: 
            =school.about
          else
            ="No description given."
          br 
          if school.admissions
            b Admission: 
            =school.admissions
          else
            ="No admission information given."
        br
      .location
        if school.location
          =school.location
        else
          ="No location given."
    if school.imagekey
      img.img-fluid(src=`https://quiltimages.s3.amazonaws.com/${school.imagekey}`, alt=`Image of ${school.name}`)
  form(action="./update") 
    input.btn.btn-block.btn-primary(type="submit" value="Edit Information")