.box {
  overflow: auto;
  width: 100%;
  display: flex;
  max-width: 1000px;
  height: 50%;
  border-radius: 20px;
  border: 1px solid gray;
  margin: auto;
}

.box > img {
  display: block;
  float: right;
  height: auto;
  padding-right: 0px;
  clear: both;
  width: 50%;
  object-fit: cover;
}

.info-box {
  float: left;
  text-align: left;
  display: block;
  margin: 10px;
  position: relative;
}

.info-text {
  display: block;
  margin-bottom: 10px;
  clear: both;
}

.location {
  display: block;
  margin-top: 5px;
  position: absolute;
  bottom: 0;
  clear: both;
  color: rgb(148, 148, 148);
}

.navbar {
  padding-left: 30px;
  padding-right: 30px;
  position: sticky;
}
header {
  position: sticky;
  top: 0;
}
footer {
  height: 2.5rem;
  position: absolute;
  bottom: 0px;
  font-size: 10px;
  left: 50%;
  transform: translate(-50%, 0);
}

.btn-block {
  max-width: 50%;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 5px;
}

.logo {
  float: left;
  font-size: 40px;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#search-bar {
  max-width: 500px;
  margin: auto;
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
}

td {
  max-width: 400px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
